/node_modules
/public/storage
/storage/*
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env

public/event_img/

public/tournament_img/

package-lock\.json

/config/*_rsa*
.vscode/sftp.json
